from dataclasses import dataclass
import ctypes
import requests
import struct
from typing import TypeAlias

string : TypeAlias = str
char : TypeAlias = str
i64 : TypeAlias = ctypes.c_int64
u64 : TypeAlias = ctypes.c_uint64
i32 : TypeAlias = ctypes.c_int32
u32 : TypeAlias = ctypes.c_uint32
i16 : TypeAlias = ctypes.c_int16
u16 : TypeAlias = ctypes.c_uint16
i8 : TypeAlias = ctypes.c_int8
u8 : TypeAlias = ctypes.c_uint8
size_t : TypeAlias = ctypes.c_size_t




{% for message in messages -%}
@dataclass
class {{ message.name }} :
  {% for field in message.fields %}
    {% if field.array %}
    {{field.name}} : list[{{ field.type_field}}] 
    {% else %}
    {% if field.name != "padding" %}
    {{ field.name }} : {{ field.type_field }}
    {% endif %}
    {% endif %}
  {% endfor %}

{% endfor %}

{% for message in messages %}

def {{ message.name }}_unpack(binary_string) -> {{ message.name }}:
  format_string_mapping = {
    'string' : 'q',
    'char' : 'c',
    'i64' : 'q',
    'ui64' : 'Q',
    'i32' : 'i',
    'ui32' : 'I',
    'i16' : 'h',
    'ui6' : 'H',
    'i8' : 'b',
    'u8' : 'B'
  }

  format_string = '<'
  {% for field in message.fields %}
  {% if field.array %}
  {{field.name}} : list[{{ field.type_field}}] 
  {% else %}
  {% if field.name != "padding" %}
  format_string += format_string_mapping['{{ field.type_field}}']
  {% endif %}
  {% endif %}
  {% endfor %}

  (
    {% for field in message.fields %}
    {% if field.name != "padding" %}
    {{field.name}},
    {% endif %}
    {% endfor %}
  ) = struct.unpack(format_string, binary_string) 

  object = {{ message.name }} (
    {% for field in message.fields %}
    {% if field.name != "padding" %}
    {{field.name}},
    {% endif %}
    {% endfor %}
  ) 

  return object

{% endfor %}

def main():
    print("hello")

    #make example http get request
    x = requests.get('https://google.com')
    print('Google get request status code: ')
    print(x.status_code)


    # use method 1 (sruct library) to print a binary blob of filler
    # data for the reaction dataclass
    #print(struct.pack('<Ql', 6, 1023))

    binary_string = struct.pack('<iic', 1, 1023, bytes('a', 'utf-8'))
    msg = operation_msg_unpack(binary_string)
    print(msg.operand_two)


if __name__ == '__main__':
    main()
